.header
    padding: 0 3rem
    height: 80rem
    display: flex
    flex-direction: column
    align-items: center

    &__title

        max-width: 115rem
        display: grid
        align-content: center
        justify-content: center
        align-items: start
        justify-items: start

        &-image
            width: 100%
            margin-bottom: 2rem

    h1
        font-size: 5.5rem
        line-height: 1.35

    h2
        font-size: 3rem

    h3
        font-size: 2.7rem

    h4
        font-size: 2.4rem
        font-weight: 500
