.header
    height: 700px
    display: flex
    flex-direction: column
    align-items: center
    margin-bottom: 3rem

    @media screen and (max-width: $screen-value)
        height: 600px
        align-items: start

    &__title
        padding: 0 2rem
        max-width: 115rem
        display: grid
        align-content: center
        justify-content: center
        align-items: center
        justify-items: center

        &-image
            width: 80%
            margin-bottom: 2rem

            @media screen and (max-width: $screen-value)
                margin: 2rem

    h1
        font-size: 5.5rem
        line-height: 1.35

        @media screen and (max-width: $screen-value)
            font-size: 4rem

    h2
        font-size: 3rem

        @media screen and (max-width: $screen-value)
            font-size: 2.5rem

    h3
        font-size: 2.7rem

        @media screen and (max-width: $screen-value)
            font-size: 2rem
