$color-primary: #ffc400
$color-secondary: #4bbb7d
$color-tertiary: #ff585f
$color-primary-lighter: #fff07d
$color-secondary-darker: #ffbb00
$color-tertiary-darker: #fd424b
$color-primary-opacity: #5ec5763a
$color-secondary-opacity: #ffcd0331
$color-tertiary-opacity: #ff58602d
$gradient-primary: linear-gradient(to top left, #fdf364, #fac19b)
$gradient-secondary: linear-gradient(to top left, #ffb003, #ffcb03)
$gradient-background: linear-gradient(135deg, #e8e8e8 4.55%, #ffffff 4.55%, #ffffff 50%, #e8e8e8 50%, #e8e8e8 54.55%, #ffffff 54.55%, #ffffff 100%)
$gradient-background-size: 15.56px 15.56px

// for the mobile version
$screen-value: 750px

*
  margin: 0
  padding: 0
  box-sizing: inherit
  scroll-behavior: smooth

html
  font-size: 50.5%
  box-sizing: border-box

body
  font-family: 'Poppins', sans-serif
  font-weight: 300
  color: #444
  line-height: 1.9
  background-color: #f3f3f3

.btn
  display: inline-block
  background-color: $color-primary
  font-size: 1.6rem
  font-family: inherit
  font-weight: 500
  border: none
  padding: 1.25rem 4.5rem
  border-radius: 10rem
  cursor: pointer
  transition: all 0.3s

  &:hover
    background-color: $color-primary-lighter

  &--text
    display: inline-block
    background: none
    font-size: 1.7rem
    font-family: inherit
    font-weight: 500
    color: #444
    border: none
    border-bottom: 1px solid currentColor
    padding-bottom: 2px
    cursor: pointer
    transition: all 0.3s

    @media screen and (max-width: $screen-value)
      margin: 2rem

p
  color: #666

.highlight
  margin: 0 0.4rem
  padding: 0.1em 0.4em
  border-radius: 0.8em 0.3em
  background: transparent
  background-image: linear-gradient(to right, rgba(255, 225, 0, 0.1), rgba(255, 232, 62, 0.7) 4%, rgba(255, 225, 0, 0.3))
  -webkit-box-decoration-break: clone
  box-decoration-break: clone
